/* descricao */

body {
    background: #cccccc;
}

.p1, h1 {
    text-align: center;
}

.p1 {
    font-size: 1vw;
}

.negrito1 {
    color: red;
}

/* imagem da barbearia */
#imagem1 {
    width: 100%;
}

/* beneficios */
#beneficios {
    background-color: #ffffff;
}
#titulobeneficios {
    text-align: center;
}
.itembeneficios {
    font-size: 1vw;
}
#imagembeneficios {
    width: 50%;
}