@font-face {
    font-family: 'icones';
    src: url(../fonts/icones.ttf)
}

body {
    width: 940px;
    font-family: 'Quicksand', 'icones', sans-serif;
}

.inblock1 {
    display: inline-block;
}

/* MENU LATERAL */
.menu-lateral {
    width: 250px;
    height: 100vw;

    background-color: rgb(66, 8, 8);

    display: flex;
    flex-direction: column;

}

.logo-menu-lateral {
    width: 100px;
    margin: 35px 75px 25px 75px;
}

.item-menu-lateral {
    color: white;
    height: 30px;
    font-size: 20px;
    padding-left: 25px;
    margin-bottom: 5px;
}

.item-menu-lateral:hover {
    background-color: white;
    color: rgb(66, 8, 8);
    width: 200px;
    align-self: center;
    border-radius: 8px;
}

.item-menu-lateral::before {
    content: "\e902";
    padding-right: 16px;
    padding-left: 8px;
}
/* MENU LATERAL */
.footer {
    width: 690px;
    background-color: green;
}